 <nav class="light-blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Admin Friend</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Server List", servers_path %></li>
        <li><%= link_to "Log out", sessions_path, method: :delete%></li>
      </ul>
    </div>
  </nav>
